# Byte-compiled / optimized / DLL files
# if you set the environment variable PYTHONDONTWRITEBYTECODE to 1 this folders would be generated anymore
__pycache__/
.pylintrc
ARCTICsyn/energy-eval-variants
ARCTICgui/energy-eval-variants
ARCTICsyn/arctic.log
venv/
.vscode/
